#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

ifeq ($(DEB_HOST_ARCH_OS), linux)
audio = default,oss,nas,jack,vorbis,flac,speex,alsa
interface = ncurses,emacs,xaw,alsaseq
else
audio = default,oss,nas,jack,vorbis,flac,speex
interface = ncurses,emacs,xaw
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--with-default-path=/etc/timidity \
		--enable-interface=$(interface) \
		--enable-dynamic=slang,tcltk,vt100,xskin,gtk \
		--enable-server --enable-network --enable-spectrogram --enable-wrd \
		--with-x \
		--with-default-output=default \
		--with-tcl-includes=/usr/include/tcl \
		--with-lispdir=/usr/share/emacs/site-lisp/timidity-el \
		--with-nas-library=/usr/lib/$(DEB_HOST_MULTIARCH)/libaudio.so \
		--enable-audio=$(audio)

override_dh_installman:
	dh_installman --language=C doc/C/timidity.1 doc/C/timidity.cfg.5
	dh_installman --language=ja doc/ja*/timidity.1 doc/ja*/timidity.cfg.5

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_fixperms:
	chmod a+x debian/timidity-interfaces-extra/usr/lib/timidity/tk*.tcl
	dh_fixperms

override_dh_installinit:
	dh_installinit -ptimidity-daemon --name=timidity
